@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Mona Sans';
    src:
      url('./fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('./fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

* {
    margin: 0;
    font-family: 'Mona Sans', sans-serif;
}

.text-shadow {
    color: rgb(193, 51, 255);
	text-shadow: 7px 4px 15px rgb(193, 51, 255);
}

.clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.sentence {
    transform: translateY(400px);
    transition: transform .5s;
}

.glare-container {
    transform-style: preserve-3d;
	perspective: 1000px;
	overflow: hidden;   
}

.project-reveal {
    transform: translateY(400px);
    transition: transform .5s;
}

.react-colorful {
    width: 150px !important;
    height: 150px !important;
}

.canvas {
    width: auto;
    height: auto;
}