@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    background: #0e1129;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#root { 
    overflow-x: hidden;
}