@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.text-shadow {
    color: rgb(193, 51, 255);
	text-shadow: 7px 4px 15px rgb(193, 51, 255);
}